@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Nordin-Regular";
    src: url("./Assets/fonts/nordin/Nordin Regular.otf");
    src: url("./Assets/fonts/nordin/Nordin Regular.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Nordin-Outline";
    src: url("./Assets/fonts/nordin/Nordin Outline.ttf");
    src: url("./Assets/fonts/nordin/Nordin Outline.otf");
    font-weight: 500;
    font-style: normal;
}
.nordinRegular{
    font-family: "Nordin-Regular";
    font-size: 200px;
}
.gilroyRegular{
    font-family: "Gilroy-Regular";
}
.swiper-wrapper{
    transform: translate3d(52px, 39px, 0px) !important;
}